mixin header
  header.header
    .material-menu-wrapper
      .material-menu
        .material-btn
          .material-hamburger
            .material-patty
            .material-patty
            .material-patty
        .material-content
          nav
            ul
              li
                a.link(href='') Home
              li
                a.link(href='') About
              li
                a.link(href='') Work
              li
                a.link(href='') Contact