extends templates/template
block title
    title Page Index
block content
  //- +header
  main
    .conteiner
        .flexB
          +card
          //- +card
        svg.login__icon.name.svg-icon(viewbox='0 0 20 20')
            path(d='M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8')
        .wrappContent.flexB#myList
            .content-wrapper.display-animation.card
                .div1.rippleOn
                    svg.login__icon.name.svg-icon(viewbox='0 0 20 20')
                        path(d='M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8')

            .content-wrapper.display-animation.card
                .div2
                    svg.login__icon.pass.svg-icon(viewbox='0 0 20 20')
                        path(d='M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0')
            .content-wrapper.display-animation.card
                .div3
            .content-wrapper.display-animation.card
                .div4
            .content-wrapper.display-animation.card
                .div5
            .content-wrapper.display-animation.card
                .div6
            .content-wrapper.display-animation.card
                .div7
            .content-wrapper.display-animation.card
                .div1

        button#loadMore.rippleOn.btn SHOW
        .material-btn


  //- - for (var i = 0; i < 10; ++i)
               //-    .content-wrapper.display-animation.card
               //-      .div1.rippleOn=i